@model Category
@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="col-9">
        <form method="post" asp-action="Delete">
            <input asp-for="Id" hidden />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" disabled />
            </div>
            <br />
            <button class="btn btn-danger" type="submit">Remove</button>
        </form>
    </div>
</div>