@model IReadOnlyList<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary" asp-action="Create">Create New Category</a>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        <a class="btn btn-dark" asp-action="Update" asp-route-id="@category.Id">
                            Update
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@category.Id">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
