@model PostViewModel
@{
    ViewData["Title"] = "Update Post";
}

<div class="container">
    <form method="post" asp-action="Update">
        <input asp-for="Post.Id" hidden />
        <div class="form-group">
            <label asp-for="Post.Content"></label>
            <textarea asp-for="Post.Content" class="form-control" rows="6"></textarea>
            <span asp-validation-for="Post.Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Post.CategoryId"></label>
            <select asp-for="Post.CategoryId" asp-items="@Model.Categories" class="form-select">
                <option selected disabled>--Select Category--</option>
            </select>
            <span asp-validation-for="Post.CategoryId" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-danger" asp-action="Index">Back to List</a>
    </form>
</div>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}